body {
    margin: 0;
    padding: 0;
    display: block;
  
}
.centered {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbarContent {
    background-color: black;
    min-width: 70%;
    height: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25em;
}

.ewu {
    color: #a10022;
    font-size: 2.2em;
    padding-left: .25em;
}

.dropbtn {
    color: white;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.2em;
    padding-right: 0.25em;
    border: none;
}

/* allows you to click on the icon withtin <i></i> */
.dropbtn > i {
    pointer-events: none;
}
  
  /* menu button with a hover/focus effect*/
  /*.dropbtn:hover, .dropbtn:focus {
    color: #a10022;
  }*/
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    margin-top: 1em;
    transform: translateX(-6.4em);
    display: none;
    position: absolute;
    background-color: white;
    border: solid;
    border-color: gray;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 15em;
    z-index: 1;
    padding-block: 0.25em;
}
  
.dropdown-content a {
    border: solid;
    border-radius: 0.25em;
    border-top-color: gray;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: gray;
    background: linear-gradient(90deg, 
        rgba(50,47,108,1) 0%,rgba(3,144,142,1) 0%, rgba(23,167,212,1) 50%, rgb(130, 84, 202) 100%);
    color: white;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: block;
    margin-inline: 0.9em;
    margin-block: 0.25em;
    padding: 0.5em;
}
  
.dropdown-content a:hover {
    color: rgb(48, 48, 48);
}
  
.show {display: block;}

.container {
    margin-top: 10px;
    border: solid;
    height: 65%;
    border-radius: 1em;
    width: 70%;
  }
  .jokebody {
    border-bottom: solid;
  }
  .ajoke {
    background-color: lightgrey;
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    padding-left: 20px;
    margin: 0;
    font-size: large;
    display: flex;
    align-items: center;
    height: 30%;
  }
  .ajoke h1 {
    padding: 0;
    margin: 0;
  }
  .footer {
    display: flex;
    align-items: center;
    
  
  }
  .anotherjoke {
    background: linear-gradient(90deg, rgba(50,47,108,1) 0%, rgba(3,144,142,1) 0%, rgba(23,167,212,1) 50%, rgb(130, 84, 202) 100%);
    height: 40px;
    width: 100px;
    margin: 20px 5px 20px 25px;
  }
  .anotherapi {
    background-color: lightgrey;
    height: 40px;
    width: 100px;
    border-radius: 5px;
  }
  .telljoke {
    height: 70%;
    display: flex;
    align-items: center;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: large;
  }

  .joketitle {
    font-size: x-large;
    width: 70%;
    display: inline-block;
    justify-content: left;
  }

  .jokefooter{
      padding: 0;
      transform: translateX(-0.5em);
  }
  
  .card footer{
    margin: 0;
    padding: 0;
    border-top: solid;
    border-color: gray;

  }

  .emptyline {
      border: solid;
      width: 70%;
  }



